/app/__pycache__/crew_agents.cpython-313.pyc
/app/__pycache__/db.cpython-313.pyc
/database/__pycache__/db.cpython-313.pyc
/database/chroma/0cdfdac9-70dd-49ed-af60-d27b539be7f5/data_level0.bin
/database/chroma/0cdfdac9-70dd-49ed-af60-d27b539be7f5/header.bin
/database/chroma/0cdfdac9-70dd-49ed-af60-d27b539be7f5/index_metadata.pickle
/database/chroma/0cdfdac9-70dd-49ed-af60-d27b539be7f5/length.bin
/database/chroma/0cdfdac9-70dd-49ed-af60-d27b539be7f5/link_lists.bin
/database/chroma/chroma.sqlite3
/database/healthcare.db
